@model WorldCensus.Models.Country

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_CountryLayout.cshtml";
}

@section photos {
    <img src="~/Assets/@Html.DisplayFor(Model => Model.Code)-1.gif" class="img-responsive" alt="Country Flag"/>
    <img src="~/Assets/@Html.DisplayFor(Model => Model.Code)-2.gif" class="img-responsive" alt="Map of Country" />
    }

@section countryData {
    <h2>@Model.Name</h2>

    <table>
        <tr>
            <td>
                Population:
            </td>
            <td>
                @Model.Population
            </td>
        </tr>
        <tr>
            <td>
                Total Area:
            </td>
            <td>
                @Model.TotalArea
            </td>
        </tr>
        <tr>
            <td>
                Life Expectancy:
            </td>
            <td>
                @Model.LifeExpectancy
            </td>
        </tr>
        <tr>
            <td>
                Gross Domestic Product:
            </td>
            <td>
                @Model.GDP
            </td>
        </tr>
    </table>

    <h4>Summary</h4>
    <p>@Model.Synopsis</p>
    }