<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Word Census", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("basic", "basic", "Home")</li>
                    <li>@Html.ActionLink("Download", "Contact", "Home")</li>
                    <li>@Html.ActionLink("About Us", "About", "Home")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    <li>@Html.ActionLink("Sources", "Contact", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            Choose Map
                            <span class="caret"></span>
                        </a>
                        <!--
                            <form class="dropdown-menu">
                                <input type="radio" name="datatype" value="population"> Population<br>
                                <input type="radio" name="datatype" value="area"> Area<br>
                                <input type="radio" name="datatype" value="medianage"> Median Age<hr>
                                <input type="radio" name="map" value="africa"> Africa<br />
                                <input type="radio" name="map" value="asia"> Asia<br />
                                <input type="radio" name="map" value="australia"> Australia / Oceania<br />
                                <input type="radio" name="map" value="europe"> Europe<br />
                                <input type="radio" name="map" value="north_america"> North America<br />
                                <input type="radio" name="map" value="south_america"> South America<br />
                                <input type="submit" value="submit" />

                            </form>
                        -->
                        @using (Html.BeginForm("GetMap", "Home", FormMethod.Post, new { id = "maptype", @class = "dropdown-menu" }))
                            {
                                
                                @Html.RadioButton("datatype", "population")<label>Population</label><br />
                                @Html.RadioButton("datatype", "area")<label>Area</label><br />
                                @Html.RadioButton("datatype", "medianage")<label>Median Age</label><br />
                                <hr />
                                @Html.RadioButton("map", "Africa")<label>Africa</label><br />
                                @Html.RadioButton("map", "Asia")<label>Asia</label><br />
                                @Html.RadioButton("map", "Oceania")<label>Australia/Oceania</label><br />
                                @Html.RadioButton("map", "Europe")<label>Europe</label><br />
                                @Html.RadioButton("map", "North America")<label>North America</label><br />
                                @Html.RadioButton("map", "South America")<label>South America</label><br />
                                <input type="submit" value="submit" />
                        }
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <div class="left-section">
            @RenderSection("data", required: true);
        </div>
        @RenderSection("guidebuttons", required: false);
    </div>


    <footer>
        <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
    </footer>

    @Scripts.Render("~/bundles/bootstrap") 
    @RenderSection("scripts", required: false)
</body>
</html>
